<h1>Welcome!!!!</h1>


<div id="messages"></div>
<button id="myButton">Send message</button>
<br/>
<br/>

<input type="text" id="myInput" />
<p id="log"></p>

<h1>Chat-like</h1>

<input type="text" id="chatInput" />
<p id="chatLog"></p>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
